body {
    background-color:#e0e0e0;
    margin:0px;
}

/* #header {
    text-align: center;
    background-color: #b7b7b7;
    padding-top: 10px;
    padding-bottom: 10px;
} */

#header-login {
    position:absolute;
    right:10%;
    text-align:center;
    background-color: #272727;
    color: #a5a5a5;
    border-radius: 0.5em;
    padding: 0.2em;
}

#site-title {
    font-size: 2em;
}

#site-description {
    font-size: 1em;
}

#main {
    margin-top: 46px;
    font-family:'Courier New', Courier, monospace;
}

#posts {

}

a {
    text-decoration: none;
    color:unset;
}

.post {
    background-color: #444;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 1em;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size:1.2em;
    width:75%;
    margin-left:12.5%;
}

.post-title {
    font-size:1.5em;
}

.post-edit-button {
    background-color: #272727;
    color: #a5a5a5;
    border-radius: 0.5em;
    padding: 0.2em;
}